@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

@font-face {
	font-family: 'Tenor Sans';
	src: url('/fonts/TenorSans-Regular.ttf');
}

@font-face {
	font-family: 'Gilda Display';
	src: url('/fonts/GildaDisplay-Regular.ttf');
}
